<div class = "user_form">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@user.errors.count, "error") %>.
            </div>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <fieldset>
        <legend>Enter User Details </legend>
        <div class = "field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class = "field">
          <%= f.label :password, 'Password' %><br>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class = "field">
          <%= f.label :password_confirmation, 'Password Confirmation' %><br>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class = "field">
          <%= f.label :email, 'Email' %><br>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class = "field">
          <%= f.label :email_confirmation, 'Email Confirmation' %><br>
          <%= f.email_field :email_confirmation, class: 'form-control' %>
        </div>

        <div>
          <%= f.submit "Create account", class: 'btn btn-primary' %>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>




